---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import HeroStats from '../components/HeroStats.astro';
import ExperienciaArcade from '../components/ExperienciaArcade.astro';
import ArcadeGallery from '../components/ArcadeGallery.astro';
import CartaSection from '../components/CartaSection.astro';
import EventosSection from '../components/EventosSection.astro';
import SedesSection from '../components/SedesSection.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <HeroStats />
    <ExperienciaArcade />
    <ArcadeGallery />
    <CartaSection />
    <EventosSection />
    <SedesSection />
  </main>
  <Footer />
</Layout>
